<div class="row">
    <div class="col-md-8">

        <div class="list-group">
            <div class="spinner" ng-show="loadingUsers">Loading Users ...</div>
            <a href="#!/users/{{singleUser.id }}" class="list-group-item" ng-repeat="singleUser in users">

                <h4>
                    {{singleUser.username | uppercase }}
                </h4>

                <p>
                    {{singleUser.name }}
                </p>

            </a>
        </div>

    </div>
    <div class="col-md-4">

        <div class="list-group">
            <div class="spinner" ng-show="loadingPosts">Loading Posts ...</div>
            <div class="list-group-item" ng-repeat="singlePost in posts">

                <p>
                    {{singlePost.title }}
                </p>

                </a>
            </div>

        </div>
    </div>