<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }
</style>

<form name="currentUserForm" novalidate>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" ng-model="currentUser.name" type="text" placeholder="Имя" required>
    </div>
    <div class="form-group">
        <label>Логин</label>
        <input class="form-control" ng-model="currentUser.username" type="text" placeholder="Логин">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" ng-model="currentUser.email" type="text" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-default" ng-click="updateUser(currentUser)" ng-disabled="currentUserForm.$invalid">Изменить</button>
</form>